.footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 0 30px;
    margin-top: 0px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 0px;
}
.footer-info {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer-info h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #ff5b3b;
}

.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul li {
    margin-bottom: 5px;
    color: #fff;
    font-size: 10px;
}

.footer-social {
    display: flex;
    flex-direction: column;
}
.footer-social img {
    width: 200px;
    margin-bottom: 10px;
}

.footer-social p {
    width:350px;
    word-break: break-all;
    font-size: 15px;
    margin-bottom: 0px;
    color: #fff;
}
.social-media {
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    margin-top: 20px;
}
.social-media a {
    font-size: 25px;
    color: black;
    margin: 10px;
    text-decoration: none;
    padding: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 13px;
}