.about-container {
    display: flex;
    max-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 40px 20px ;
    justify-content:space-between;
    
}
.content-container {
    flex-direction: column;
    margin: 40px 20px;

}
.content-container h1 {
    font-size: 35px;
    color: #ff5b3b;
    align-items: flex-start;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #ff5b3b;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 236, 236, 0.5);
    border-radius: 25px;
}
.content p {
    font-size: 25px;
    padding: 10px 25px;
    width: 600px;
    word-wrap: break-word;
}
.content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.content a{
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    background: linear-gradient(to right, #fb8a24, #d61439);
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    margin: 20px;
    cursor: pointer;
}

.about-img {
    width: 400px;
    height: 400px;
    overflow: visible;
    padding: 70px ;
    position: relative;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .content-container {
        margin: 20px 10px;
    }
    .content-container h1 {
        font-size: 20px;
    }
    .content {
        background-color: none;
    }
    .content p {
        font-size: 15px;
        padding: 10px 15px;
        width: auto;
    }
    .about-img {
        /* display: flex; */
        align-items: center;
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    
}
/* .fade-right-enter {
    transform: translateX(-100%); 
  } */

  