.about-container {
    display: flex;
    max-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 40px 20px ;
    justify-content:space-between;
    
}
.content-container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px;

}
/* .about-conent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 60px 35px;
} */
.content-container h1 {
    font-size: 35px;
    color: #ff5b3b;
    align-items: flex-start;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #ff5b3b;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 236, 236, 0.5);
    border-radius: 25px;
}
.content p {
    font-size: 25px;
    padding: 10px 25px;
    width: 600px;
    word-wrap: break-word;
    /* background-color: rgba(255, 255, 255, 0.5); */
}
/* .about-img-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    max-height: 100vh; 
    padding-right: 20px; 
} */
.about-img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 70px ;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
/* .content img {
    width: 250px;
    height: 250px;
} */

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .content-container {
        margin: 20px 10px;
    }
    .content-container h1 {
        font-size: 20px;
    }
    .content {
        background-color: none;
    }
    .content p {
        font-size: 15px;
        padding: 10px 15px;
        width: auto;
    }
    .about-img {
        display: flex;
        align-items: center;
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    
}

