.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
  }
  .header {
    color: #ff5b3b;
    align-self: flex-start;
    text-decoration: underline;
    margin-bottom: 30px;
    text-decoration-color: #ff5b3b;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    padding-left: 20px;
  }

  .swiper-container {
    max-width: 90%;
    margin-top: 15px;
    @media (min-width: 768px) {
      max-width: 80%;
    }
  }
  
  .slide-container {
    display: flex;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    gap: 6px;
    margin-bottom: 20px;
    position: relative;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    color: black;
    border-radius: 15px;
    padding: 6px 8px;
    height: 450px;
    width: 300px;
    overflow: hidden;
    cursor: pointer;
    /* background-color: #f85e05; */
  }
  .img-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 15px;
  }
  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .slider-container {
      height: 100%;
      margin-top: 15px;
    } 
    .slide-container {
      width: 230px;
      height: 320px;
    }
    .slide-title {
      font-size: 1.3rem;
      color: #ff5b3b;
    }
    .header {
      font-size: 1.5rem;
    }
  }
  
  .slide-background {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.1;
  }
  
  .slide-content {
    position: relative;
  }
  
  .slide-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .slide-title {
      font-size: 1.6rem;
      color: #ff5b3b;
    }
  }
  
  .slide-content p {
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .slide-content p {
      font-size: 18px;
    }
  }
  
  .arrow {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 35px;
    height: 35px;
    color: white;
    transition: all 0.1s ease;
    transform: rotate(0deg);
  }
  
  .arrow:hover {
    color: #428bca;
    transform: rotate(45deg);
  }
  .btn {
    background-color: #ff5b3b;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    /* margin-top: 10px; */
    bottom: 5px;
    margin-bottom: 5px;
  }