:root {
    --swiper-theme-color: #ff3000; /* Set your desired theme color */
  }
/* Container styling */
.container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styling */
  .card-header {
    display: flex;
    justify-content: center;
    color: #ff3000;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid #ff3000;
  
  }
  
  /* Card styling */
  .card {
    border-radius: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    text-align: center;
    overflow: hidden;
    /* background-color: #f5f0f0; */
    /* background: url(../../assets/grey-shape-01.png) ; */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
    
  }
  
  .card:hover {
    transform: scale(1.1); /* Enlarges the card on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 5px;
    border-radius: 20px;
  }
  
  /* Image styling */
  .card img {
    padding-top: 20px;
    width: 70%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  /* Content styling */
  .card-content {
    padding: 15px;
  }
  
  .card-content h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #ff3000;
  }
  
  .card-content p {
    font-size: 15px;
    color: #000;
  }
  .swiper-scrollbar {
    display: none; /* Completely hides the scrollbar */
  }
  