/* Styles for the CounterUp Component */

.counter-container {
  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .stat-item {
    text-align: center;
  }
  .stat-icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  .stat-label {
    font-size: 1rem;
    margin: 0;
    color: #555;
  }
  @media screen and (max-width: 768px) {
    .counter-container {
      flex-direction: column;
    }
    
  }
  