.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #333; */
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

/* .nav.scrolled {
    top: 0;
    left: 0;
    background-color: rgba(236, 138, 138, 0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
} */

.nav-logo img {
  height: 60px;
}

.nav-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav.scrolled .nav-logo img {
    height: 50px;
}

.nav-list {
  display: flex; /* Default to flex layout */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.nav-list li {
  margin-left: 20px;
  margin-right: 25px;
}

.nav-list a {
  text-decoration: none;
  color: white; /* Ensure the text color is white */
  font-size: 22px;
}

.nav-list a:hover {
  background: linear-gradient(to right, #fb8a24, #d61439);
  padding: 7px;
  border-radius: 15px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .nav-menu-icon {
    display: block;
    margin: 10px;
  }

  .nav-list {
    display: none; /* Initially hidden */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 9999; /* Ensure it appears above other content */
  }

  .nav-list.open {
    display: flex !important; /* Ensure it's visible when open */
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list a {
    font-size: 20px;
    color: #fff;
  }

  .nav-logo img {
    height: 50px;
  }
}
